{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_kamaleon/designs/bbcopresenter/layout

    Template to render the image link design.

    Example context (json):
    {
    }
}}
<section class="container-elements">
    {{#contents}}
        <div class="card">
            <div class="card-header">
                {{#hasicon}}<img src="{{icon}}" alt="{{title}}" title="{{title}}" />{{/hasicon}}
                <h3>{{title}}</h3>
                <p>{{subtitle}}</p>
            </div>
            <div class="card-body">
                {{{content}}}
            </div>
            {{#url}}
            <div class="card-footer">
                <a class="btn btn-primary" href="{{url}}" {{#target}}target="{{target}}"{{/target}} aria-label="">
                    {{#linkname}}{{linkname}}{{/linkname}}
                    {{^linkname}}{{#str}} moreinfo, block_kamaleon {{/str}}{{/linkname}}
                </a>
            </div>
            {{/url}}
            {{#showedition}}
            <div class="card-footer">
                {{> block_kamaleon/edition}}
            </div>
            {{/showedition}}
        </div>
    {{/contents}}
</section>