.block_kamaleon-designs {
    margin-bottom: 20px;
}

.block_kamaleon-designs form {
    display: flex;
    flex-wrap: wrap;
}

.block_kamaleon .block-controls.float-right {
    z-index: 2;
    position: relative;
}

.block_kamaleon.design-default .block_kamaleon-contentslist > .row {
    align-items: stretch;
    justify-content: center;
}

.block_kamaleon.design-default .block_kamaleon-contentslist .one-content {
    height: 100%;
}

.block_kamaleon.design-default .block_kamaleon-contentslist .card-header h5 {
    display: flex;
    align-items: center;
}

.block_kamaleon.design-default .block_kamaleon-contentslist .card-header h5 img {
    margin-right: 10px;
}
