.block_kamaleon-designs {
    margin-bottom: 20px;
}

.block_kamaleon-designs form {
    display: flex;
    flex-wrap: wrap;
}

.block_kamaleon .block-controls.float-right {
    z-index: 2;
    position: relative;
}
