{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_kamaleon/designs/revision/layout

    The designed layout.

    Example context (json):
    {
        "attributes": [
            "contents": [
                "shorttitle": "MC",
                "title": "My content",
                "subtitle": "My content subtitle",
                "url": "https://example.com",
                "content": "My content description",
                "banner": "https://example.com/banner.png",
                "icon": "https://example.com/icon.png",
                "showedition": false,
            ],
            "instanceid": "99"
        ]
    }
}}
<div class="block_kamaleon-contentslist">
    <section class="row">
        {{#contents}}
        <div class="col-md-3">

            <div class="card mb-3 one-content">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{shorttitle}} <label>{{#str}} shorttitle, block_kamaleon {{/str}}</label></li>
                    <li class="list-group-item"><h2>{{title}}</h2> <label>{{#str}} title, block_kamaleon {{/str}}</label></li>
                    <li class="list-group-item"><h3>{{subtitle}}</h3> <label>{{#str}} subtitle, block_kamaleon {{/str}}</label></li>
                    <li class="list-group-item"><a href="{{url}}" target="_blank">{{url}}</a> <label>{{#str}} url, block_kamaleon {{/str}}</label></li>
                </ul>
                <div class="card-body box-content">
                    <div>
                        {{{content}}}
                    </div>
                    <label>{{#str}} content, block_kamaleon {{/str}}</label>
                </div>
                <div class="card-body box-images">
                    {{#hasicon}}
                        <img src="{{icon}}" alt="{{#str}} icon, block_kamaleon {{/str}}" />
                    {{/hasicon}}
                    {{#hasbanner}}
                        <img src="{{banner}}" alt="{{#str}} banner, block_kamaleon {{/str}}" />
                    {{/hasbanner}}
                    <label>{{#str}} images, block_kamaleon {{/str}}</label>
                </div>
                <ul class="list-group list-group-flush group-dates">
                    <li class="list-group-item">{{#str}} createdat, block_kamaleon, {{timecreatedformated}} {{/str}}</li>
                    <li class="list-group-item">{{#str}} lastupdated, block_kamaleon, {{timecreatedformated}} {{/str}}</li>
                </ul>

                {{#showedition}}
                <div class="card-footer">
                    {{> block_kamaleon/edition}}
                </div>
                {{/showedition}}
            </div>
        </div>
        {{/contents}}
    </section>
</div>
