.block_kamaleon.design-revision .box-content > div {
    max-width: 100%;
    max-height: 300px;
    overflow: auto;
}

.block_kamaleon.design-revision .box-images {
    text-align: center;
    border-top: inherit;
}

.block_kamaleon.design-revision .box-images img {
    max-width: calc(50% - 2px);
    height: auto;
    border: 1px dashed;
}

.block_kamaleon.design-revision .group-dates {
    font-size: 80%;
}

.block_kamaleon.design-revision .one-content > * {
    position: relative;
}

.block_kamaleon.design-revision .one-content label {
    border: 1px dashed var(--dark);
    border-right: none;
    background-color: var(--light);
    color: var(--dark);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 70%;
    padding: 1px 2px 1px 6px;
    border-radius: 7px 0 0 7px;
}
