{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_kamaleon/degradedcarousel/layout

    The designed layout.

    Example context (json):
    {
        "attributes": [
            "contents": [
                "id": 1,
                "shorttitle": "MC",
                "title": "My content",
                "subtitle": "My content subtitle",
                "url": "https://example.com",
                "linkname": "Learn more",
                "target": "_blank",
                "banner": "https://example.com/banner.png",
                "showedition": false,
            ],
            "instanceid": "99"
        ]
    }
}}

<section id="degradedcarousel-{{instanceid}}" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    {{#contents}}
        <li {{^index}}class="active"{{/index}} data-target="#degradedcarousel-{{instanceid}}" data-slide-to="{{index}}">&nbsp;</li>
    {{/contents}}
    </ol>
    <div class="carousel-inner">
        {{#contents}}
            <div class="carousel-item {{^index}}active{{/index}}">
                <img src="{{{banner}}}" alt="{{#title}}{{.}}{{/title}}" />
                <div class="carousel-item-overlap"></div>
                <div class="carousel-caption">
                    {{#title}}
                        <h5 class="titulo-bn">{{title}}</h5>
                    {{/title}}
                    {{#subtitle}}<div class="texto-bn-bold">{{subtitle}}</div>{{/subtitle}}
                    {{#url}}<a class="btn btn-secondary" href="{{url}}" {{#target}}target="{{target}}"{{/target}}>
                            {{#linkname}}{{linkname}}{{/linkname}}
                            {{^linkname}}{{#str}} morenavigationlinks {{/str}}{{/linkname}}
                        </a>{{/url}}
                    {{#showedition}}
                        {{> block_kamaleon/edition}}
                    {{/showedition}}
                </div>
            </div>
        {{/contents}}
        <a class="carousel-control carousel-control-prev" role="button" href="#degradedcarousel-{{instanceid}}" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only visually-hidden">{{#str}} previous {{/str}}</span>
        </a>
        <a class="carousel-control carousel-control-next" role="button" href="#degradedcarousel-{{instanceid}}" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only visually-hidden">{{#str}} next {{/str}}</span>
        </a>
    </div>
</section>
