.block_kamaleon.design-degradedcarousel .carousel-item > img {
    width: 100%;
    display: block;
}

.block_kamaleon.design-degradedcarousel .carousel-item > .carousel-item-overlap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 100%);
}

.block_kamaleon.design-degradedcarousel .carousel-control[role="button"]:focus {
    box-shadow: none;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    box-shadow: 1px 1px 1px var(--bglight, #aaa);
}

.block_kamaleon.design-degradedcarousel .carousel-caption {
    text-align: left;
    bottom: unset;
    top: calc(50% - 40px);
}

.block_kamaleon.design-degradedcarousel .carousel-caption .btn {
    padding: 12px 25px;
}

.block_kamaleon.design-degradedcarousel .titulo-bn {
    color: var(--primaryreverse, #f4f5f4);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
}

.block_kamaleon.design-degradedcarousel .texto-bn-bold {
    text-align: left;
    color: var(--primaryreverse, #f4f5f4);
    padding-right: 50%;
    margin-bottom: 10px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.40);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}

.block_kamaleon.design-degradedcarousel .carousel-control-prev-icon,
.block_kamaleon.design-degradedcarousel .carousel-control-next-icon {
    width: 40px;
    height: 40px;
}

@media (max-width: 512px) {

    .block_kamaleon.design-degradedcarousel .titulo-bn {
        font-size: 25px;
    }

    .block_kamaleon.design-degradedcarousel .texto-bn-bold {
        font-size: 20px;
        line-height: 22px;
    }

    .block_kamaleon.design-degradedcarousel .texto-bn-light {
        font-size: 20px;
        line-height: 22px;
    }

}
