{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_kamaleon/cesbootstrapcarousel/layout

    The designed layout.

    Example context (json):
    {
        "attributes": {
            "contents": {
                "id": 1,
                "index": 0,
                "shorttitle": "MC",
                "title": "My content",
                "subtitle": "My content subtitle",
                "url": "https://example.com",
                "target": "_blank",
                "linkname": "My content link name",
                "content": "My content description",
                "banner": "https://example.com/banner.png",
                "hasbanner": true,
                "icon": "https://example.com/icon.png",
                "hasicon": true,
                "showedition": false
            },
            "instanceid": "99"
        }
    }
}}

<div id="cesbootstrapcarousel-{{instanceid}}" class="carousel slide" data-bs-ride="carousel" data-ride="carousel">
    <div class="carousel-indicators">
    {{#contents}}
        <button {{^index}}class="active"{{/index}} data-bs-target="#cesbootstrapcarousel-{{instanceid}}" data-target="#cesbootstrapcarousel-{{instanceid}}" data-bs-slide-to="{{index}}" data-slide-to="{{index}}"></button>
    {{/contents}}
    </div>
    <div class="carousel-inner">
        {{#contents}}
            <div class="carousel-item {{^index}}active{{/index}}" style="background-image: url('{{banner}}');">
                <div class="contenedor-bn">
                    {{#title}}
                        <div class="titulo-bn">{{title}}</div>
                        <div class="carousel-title-separator"></div>
                    {{/title}}
                    {{#subtitle}}<div class="texto-bn-bold">{{subtitle}}</div>{{/subtitle}}
                    {{#content}}<div class="content">{{{content}}}</div>{{/content}}
                    {{#url}}<a class="boton-bn {{#inmodal}}kam-openinmodal{{/inmodal}}" href="{{url}}" {{#target}}target="{{target}}"{{/target}}><i class="fa fa-angle-right"></i></a>{{/url}}
                    {{#showedition}}
                        {{> block_kamaleon/edition}}
                    {{/showedition}}
                </div>
            </div>
        {{/contents}}
        <button class="carousel-control carousel-control-prev" role="button" data-bs-target="#cesbootstrapcarousel-{{instanceid}}" data-bs-slide="prev" data-target="#cesbootstrapcarousel-{{instanceid}}" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">{{#str}} previous {{/str}}</span>
        </button>
        <button class="carousel-control carousel-control-next" role="button" data-bs-target="#cesbootstrapcarousel-{{instanceid}}" data-bs-slide="next" data-target="#cesbootstrapcarousel-{{instanceid}}" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">{{#str}} next {{/str}}</span>
        </button>
    </div>
</div>
